*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* sugestão (@avlye )*/
    /* usar box-sizing: border-box; */
    /* para ajudar a calcular o padding extra no nav e evitar a barra de rolagem lateral no navegador */
    /* se não conseguir, overflow-x: hidden; deve ajudar */
}








/*conteudo central*/

.meio{

    width: 80rem;
    display: flex;
    flex-direction: column;
    border-left: 2rem dashed rgba(202, 202, 21, 0.582);
    border-right: 2rem dashed rgba(255, 255, 0, 0.514);
    padding: 0 4rem;
}


.meio-inicio{
    
    
    padding: 5rem 0;
    background-image: url("img/fundo-de-papel-texturizado-vintage-sujo.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    z-index: 0;
    flex-direction: column;
    

  

}

.meio-inicio h1,h3{

        color: rgb(203, 8, 8);
        font-family: 'Zenzai';
        letter-spacing: 5px;

}

.meio-inicio h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}
.meio-inicio h3{
    font-size: 2rem;
}


.meio-inicio p{
    letter-spacing: 0.3rem;
    width: 40rem;
    font-family: 'Zenzei';
    text-align: center;
    font-weight: bold;
    padding: 2rem 0;
    color: black;
    font-size: 1.6rem;
   

    
}

.meio-inicio img{
   
   width: 20rem;

   
}



/*secao 02,03,04,05*/

.sec-turismo,.sec-politica,.sec-religiao,.sec-culinaria{
    width: 100%;
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    

}
.sec-turismo{
    background-image: url('img/692368.jpg');
}
.sec-politica{
    background-image: url('img/agronegocios-China-810x512.jpg');
    
}
.sec-culinaria{
    background-image: url('img/pexels-cats-coming-1907228.jpg');
}
.sec-religiao{
    background-image: url('img/wallpaperbetter.com_1920x1080\ \(1\).jpg');
}

.link-m {
    
    color: white;
    font-size: 3rem;
    text-decoration: none;
    transform: scale(1);
    transition: 1s ;
    
}

.text-sec{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease ;
    backdrop-filter: brightness(70%);
    backdrop-filter: blur(10%);
}


 .link-m:hover {
    
    color: yellow;
    backdrop-filter: brightness(20%);
    backdrop-filter: blur(50%);
 
}

